

#chat_container {
    max-height: 400px;
    /* Set a maximum height to control overflow */
    border: 1px solid #ccc;
    overflow-y: auto;
}

#chat_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

i{
    margin: 0 5px;
    font-size: 24px;
    color: white;
    /* background-color: #00BFFF; */
    /* border: black; */
    padding: 5px;
    /* border-style: solid; */
}
i:hover{
    cursor: pointer;
}

.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
}



.overflow-y-scroll {
    overflow-y: auto;
}

/* Style for self messages */
.self-chat-class {
    background-color:#ddd;
    
    color:#333;
    
}

/* Style for other users' messages */
.chat-class {
    background-color: #eaeaea;
    
    color: #333;
}

/* Optional: Add more styling as needed */
.card {
    border-radius: 10px;
    /* Rounded corners for all cards */
    margin-bottom: 10px;
    /* Adjust as needed */
}

.chat-image{
    height: 10rem;
    width: 14rem;
    object-fit: cover;
}